
/* Base Colors */

$color__primary: #143d66;
$color__secondary: #000000;
$color__tertiary: #ba9026;
$color__menulink: #242321;
$color__menulinkh: #d2d4c1;

/* Warning Colors */

$color__error: '';
$color__success: '';

/* Media Query Breakpoints */

$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;

$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;

$screen-md:                  992px;
$screen-md-min:              $screen-md;

$screen-lg:                  1280px;
$screen-lg-min:              $screen-lg;

$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

