@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?il2xga');
  src:  url('fonts/icomoon.eot?il2xga#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?il2xga') format('truetype'),
    url('fonts/icomoon.woff?il2xga') format('woff'),
    url('fonts/icomoon.svg?il2xga#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e900";
  color: #000;
}
.icon-clock:before {
  content: "\e901";
  color: #000;
}
.icon-facebook:before {
  content: "\e902";
  color: #000;
}
.icon-arrow-down:before {
  content: "\e903";
  color: #000;
}
.icon-arrow-right-a:before {
  content: "\e904";
  color: #000;
}
.icon-pluss:before {
  content: "\e905";
  color: #000;
}
.icon-arrow-right:before {
  content: "\e906";
  color: #000;
}
.icon-Instagram:before {
  content: "\e907";
  color: #000;
}
.icon-logotipo:before {
  content: "\e908";
  color: #000;
}
.icon-map-point:before {
  content: "\e909";
  color: #000;
}
.icon-menu:before {
  content: "\e90a";
  color: #000;
}
.icon-close:before {
  content: "\e90b";
  color: #000;
}
.icon-tel:before {
  content: "\e90c";
  color: #000;
}
