.md-p-persianas{ 
    background: url(../images/layout/pag_persianas.jpg) no-repeat;
    padding: 10px 0px 30px 0px;
    margin: 80px 0px 50px 0px;
    background-size: contain;
    

    .md-p-box-persianas{
        position: relative;
        padding: 40px 0;

        &::before{
            content: 'persianas';
            position: absolute;
            transform: rotate(270deg);
            left: -110px;
            top:60px;
            font-size: 20px;
            line-height: 2.1;
            letter-spacing: 2px;
            color: #dbdbdb;
        }
    }
    

    .md-title{
        width:460px;
        font-size: 34px;
        line-height: 1.06;
        color: #242321;        
        background: url(../images/layout/bg-title.png) no-repeat bottom;
        background-size: 260px 15px;
        background-position: 0px 50px;
        padding: 0 19px;
    
        strong{
            
            font-size: 36px;
            font-weight: bold;
            line-height: 1;
            color: #242321;            
        }
    }

    .md-text{
        padding: 40px 50px 0px 0px;
        font-size: 18px;
        line-height: 1.78;
        color: #6a6a6a;
    }

    .md-orcamento{
        float: right;
        margin-top: 4px;
        margin-right: 70px;
        padding: 13px;
        font-size: 16px;
        font-weight: 600;
        color: #463f36;
        border: solid 1px;
        border-radius: 10px;
        width: 195px;
        text-align: center;
        transition: ease-in-out 300ms;

        .md-icon{
            font-size: 8px;
            padding: 3px;
            
            &::before{
                color: #463f36;
            }            
        }  

        &:hover{
            margin-right: 60px;
        }
    }
}

.md-action-prod{
    padding: 60px 0 120px 0;
    text-align: right;
    
    .slick-slide{
        
        
        &:nth-child(4){
            opacity: .1;
            transition: ease-in-out 300ms;
        }
        
        .md-produto-c{
            position: relative;      
            width: 290px;
            
            &::before{
                content:'';
                position: absolute;
                left: 150px;
                top: 130px;
                background:linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
                height: 0%;
                width: 0%;
                transition: ease-in-out 800ms;
            }

            &::after{
                content:'\e905';
                font-family: 'icomoon' !important;
                position: absolute;
                left: 136px;
                top: 117px;
                font-size: 26px;
                color:transparent;
                transition: ease-in-out 800ms;
            }
        }
        
        .md-title-produto-c{
            padding: 10px;
            font-size: 16px;
            letter-spacing: 1.6px;
            color: #463f36;
            transition: ease-in-out 300ms;

            .md-icon{
                font-size: 8px;
                padding: 12px;
                
                &::before{
                    color: #463f36;
                }
            }    
        }
        
        &:hover{
            
            
            .md-produto-c{
                
                
                &::before{
                    content:'';
                    position: absolute;
                    left:0px;
                    top:0px;
                    background:linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
                    height: 100%;
                    width: 100%;
                    display: block;
                }

                &::after{
                    content:'\e905';
                    font-family: 'icomoon' !important;
                    position: absolute;
                    left: 136px;
                    top: 117px;
                    font-size: 26px;
                    color:#fff;
                    display: block;
                }
            }
            
            .md-title-produto-c{
                    padding: 10px 2px;
            }
        }
    }        
    
    .slick-active:nth-child(4){
        opacity: 1;
    }
                  
}

@media(max-width:1400px){
    .md-p-persianas{
        background-position: -400px 0px;

        .md-orcamento{
            margin-top: 50px;
        }
    }
}

@media(max-width:1400px){
    .md-p-persianas{
        background-position: -430px 0px;

    }
}