.footer{
    margin-top: 48px;
    background-color: rgba(191, 194, 166, 0.4);
    
    .container-fluid{
        padding:0px;
    }

    .md-footer-info{

        .md-siganos{
            padding:14px 50px;
            background-color:#fff;
            width: 100%;
            text-align: right;
            font-size: 18px;
            line-height: 1;
            color: #463f36;

            strong{
                display: block;
                font-weight: 600;
            }
        }
    }
    
    .md-informacoes{
        background-color: #463f36; 
        min-height: 100px;
        
        .md-facebook{
            float:left;
            a{
                font-size: 18px;
                color:#fff;
                padding: 40px 46px;
                width: 109px;
                display: block;
                background-color:#6a6a6a;
                transition: ease-in-out 300ms;
                
                &:hover{
                    background-color:rgba(191, 194, 166, 0.4);
                }
            }
            
            .icon-facebook{
                
                &::before{
                    color:#fff;
                }
            }
        }
        
        .md-instagram{        
            float:left;
            
            a{
                font-size: 18px;
                color:#fff;                
                padding: 40px 46px;
                width: 109px;
                display: block;
                background-color:#242321;
                transition: ease-in-out 300ms;
                
                &:hover{
                    background-color:rgba(191, 194, 166, 0.4);
                }
            }
            
            .icon-Instagram{
                
                &::before{
                    color:#fff;
                }
            }
        }
        
        .md-horario-func{
            position: relative;
            margin-left: 50px;
            padding: 30px;
            float: left;
            width: 280px;
            font-size: 16px;
            line-height: 1.25;
            color: #fdfbf5;
            
            &::before{
                content:'\e901';
                font-family: 'icomoon' !important;
                position: absolute;
                left:-10px;
                top:37px;
                font-size: 20px;
                color:#bfc2a6;
            }
        }
        
        .md-contato{
            position: relative;
            margin-left: 70px;
            padding:14px 30px;
            float: left;
            width: 280px;
            font-size: 18px;
            line-height: 1.33;
            color: #fdfbf5;
            
            a{
                color: #fdfbf5;
                transition: ease-in-out 300ms;
                
                &:hover{
                    opacity: .6;
                }
            }
            
            &::before{
                content:'\e90c';
                font-family: 'icomoon' !important;
                position: absolute;
                left:-10px;
                top:22px;
                font-size: 20px;
                color:#bfc2a6;
            }
        }
        
        .md-email{
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.71;
            letter-spacing: normal;
            text-align: left;
            color: #bfc2a6;
    
            a{
                color: #bfc2a6;
                text-decoration: underline;
                
                &:hover{
                    opacity: .6;
                }
            }
        }
    }

    .md-footer-menu{
        padding: 30px;
        
         .md-menu{
             display: block;
             padding: 14px 40px;
             float: left;
             font-size: 16px;
             font-weight: 600;
             line-height: 1.25;
             color: #5f574d;
             text-transform: uppercase;
             transition: ease-in-out 300ms;

             &:hover{
                 opacity: .6;
             }
        }
    }

    .md-copyright{
        padding: 20px 0;
        background-color: #fff;
    }

    .md-text-cop-l{
        font-size: 12px;
        line-height: 1.25;
        color: #463f36;    
    }

    .md-text-cop-r{
        font-size: 16px;
        line-height: 1.25;
        color: #463f36;    
        text-align: right;
    }
    
}


@media(max-width:1366px){
    
    .footer{
        
        .md-informacoes{
            
            .md-contato{
                margin-left: 0px;
            }            
        }
 
    }
}