.md-p-contato{
    padding: 10px 0px 70px 0px;
    margin: 80px 0px 50px 0px;

    background:url(../images/layout/bg-contato.png) no-repeat right;
    background-size: 49% 100%;
    
    .md-title{
        position: relative;
        line-height: 1;
        font-size: 36px;        
        padding: 0px 0px 0px 20px;
        background: url(../images/layout/bg-title.png) no-repeat bottom;
        background-size: 290px 15px;
        background-position: 0px 50px;
        
        &::before{
            content: 'contato';
            position: absolute;
            transform: rotate(270deg);
            left: -70px;
            top:40px;
            font-size: 20px;
            line-height: 2.1;
            letter-spacing: 2px;
            color: #dbdbdb;
        }
        
        strong{
            display: block;
        }
    }
    
    .md-box-form-conteinar{
        padding:50px;
    }
    
    .md-box-informacao{
        margin: 10px 0;
        font-size: 18px;
        line-height: 1.44;
        letter-spacing: normal;
        text-align: left;
        color: #6a6a6a;
        
        a{
            display: block;
            color: #463f36;
            font-weight: 600;

            &:hover{
                opacity: .6;
            }
        }
        
        strong{
            display: block;
        }
        
        .md-info, .md-email , .md-location-link{
            padding: 20px 0;
        }
        
        .md-info{
            
            a{
                color: #45bc65;
                font-weight: 600;

                &:hover{
                    opacity: .6;
                }
            }
        }       
        
        .md-location-link{
            position: relative;
            padding-left: 30px;
            width: 380px; 
            transition: ease-in-out 300ms;
            
            &::before{
                font-family: 'icomoon' !important;
                font-size: 25px;
                content:'\e909';
                position: absolute;
                left: 0px;
                top:28px;
                transition: ease-in-out 300ms;
            }

            &:hover{
                padding-left: 35px;

                &::before{
                    top:26px;
                    font-size: 28px;
                }
                
            }
        }
    }

    .md-box-form-conteinar{

        form{
            width: 480px;        
            
            .md-box-form{
                float: left;
                width: 100%;
                
                &:nth-child(3){
                    width: 48%;
                }
                
                &:nth-child(4){
                    float: right;
                    width: 48%;
                }
                
            }
            
            label{
                color:#fff;
                text-transform: uppercase;
                margin: 15px 0 10px 0;
                letter-spacing: 1.6px;
            }
            
            input{
                background-color: transparent;
                border-bottom:1px solid $color__menulinkh;
                color:#000;
                height: 40px;
                width: 100%;
                padding: 10px;                  
                outline: none;
                
                
                &:focus{
                    outline: none;
                }
            }
            
            select{
                background-color: transparent;
                color:#ffffff;
                height: 40px;
                width: 54%;
                margin: 5px 0;
                padding: 0px;
                text-align: right;
                float: right;
                outline: none;
                text-transform: uppercase;
                
                &:focus{
                    outline: none;
                }
            }
            
            textarea{
                background-color: transparent;
                border-bottom:1px solid $color__menulinkh;
                color:#000;
                height: 110px;
                width: 100%;
                padding: 10px;
                outline: none;
                
                &:focus{
                    outline: none;
                }
            }
            
            .btn-enviar{
                margin-right:100px;
                padding: 10px 0;
                display: block;
                float:right;
                width: 150px;
                border-bottom:0px solid;
                color:#fff;
                position: relative;
                letter-spacing: 1.6px;
                background-color: transparent;
                transition: ease-in-out 300ms;
                
                &::before{
                    content:'';                
                    position: absolute;
                    right: -100px;
                    top:22px;
                    height: 3px;
                    width: 82px;
                    background-color: #fff;   
                    transition: ease-in-out 300ms;
                }
                
                &:hover{
                    margin-right:90px;
                    
                    &::before{
                        content:'';                
                        position: absolute;
                        right: -90px;
                        top:22px;
                        height: 3px;
                        width: 82px;
                        background-color: #fff;                
                    }
                }
                
            }
            
        }
    }   
}