.md-sobre-n-qs{
    background: url(../images/layout/sobre-nos-home.jpg) no-repeat;
    padding: 10px 0px 30px 0px;
    margin: 80px 0px 50px 0px;
    background-size: contain;
    

    .md-box-qs-home{
        position: relative;
        padding: 40px 0;

        &::before{
            content: attr(atr-sobre);
            position: absolute;
            transform: rotate(270deg);
            left: -110px;
            top:70px;
            font-size: 20px;
            line-height: 2.1;
            letter-spacing: 2px;
            color: #dbdbdb;
        }
    }
    

    .md-title{
        width:460px;
        font-size: 34px;
        line-height: 1.06;
        color: #242321;        
        background: url(../images/layout/bg-title.png) no-repeat bottom;
        background-size: 260px 15px;
        background-position: 0px 50px;
        padding: 0 19px;
    
        strong{
            
            font-size: 36px;
            font-weight: bold;
            line-height: 1;
            color: #242321;            
        }
    }

    .md-text{
        padding: 40px 50px 0px 40px;
        font-size: 18px;
        line-height: 1.78;
        color: #6a6a6a;
    }

    .md-link-fale{
        float: right;
        margin-top: 4px;
        margin-right: 70px;
        padding: 13px;
        font-size: 16px;
        font-weight: 600;
        color: #463f36;
        border: solid 1px;
        border-radius: 10px;
        width: 175px;
        text-align: center;
        transition: ease-in-out 300ms;

        .md-icon{
            font-size: 8px;
            padding: 3px;
            
            &::before{
                color: #463f36;
            }            
        }  

        &:hover{
            margin-right: 60px;
        }
    }
}

.md-action-prod{
    padding: 30px 0;
    
    .md-header-prod{
        
        .md-title{
            font-size: 40px;
            text-align: center;
            padding: 50px 0;
            background: url(_assets/images/layout/bg-title.png) no-repeat bottom;
            background-size: 360px 15px;
            background-position: 39% 80px;
        }
        
        .md-text{
            padding: 0px 150px 70px 150px;
            text-align: center;
            font-size: 20px;
            line-height: 1.2;
            color:#707070;;
        }
    }
    
    .md-box-prod{
        
        .md-image-prod{
            position: relative;
            
            &::before{
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                background:linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
                height: 0%;
                width: 0%;
                transition: ease-in-out 300ms;
            }
            
            &::after{
                content:'\e905';
                font-family: 'icomoon' !important;
                position: absolute;
                padding: 40px 44px;
                background-color:transparent;
                right: 0px;
                bottom: 0px;
                font-size: 26px;
                color:transparent;
                transition: ease-in-out 800ms;
                
            }
            
            &:hover{
                &::before{
                    content: '';
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    background:linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
                    height: 100%;
                    width: 100%;
                }

                &::after{
                    content:'\e905';
                    font-family: 'icomoon' !important;
                    position: absolute;
                    padding: 40px 44px;
                    background-color:#000;
                    right: 0px;
                    bottom: 0px;
                    font-size: 26px;
                    color:#fff;
                }
                                
            }
        }
        
        .md-link{
            text-align: right;
            font-size: 16px;
            margin:10px;
            line-height: 2.25;
            color: #463f36; 
            font-weight: 600;
            margin-right: 40px;
            transition: ease-in-out 300ms;
            
            .md-icon{
                
                &::before{
                    color: #463f36;                    
                    font-size: 8px;
                    vertical-align: text-bottom;
                    margin-left: 5px;
                }
            }
        }
        
        &:hover{
            .md-link{
                margin-right: 34px;
            }
        }
    }       
}

@media(max-width:1400px){
    .md-sobre-n-qs{
        background-position: -400px 0px;

        .md-link-fale{
            margin-top: 50px;
        }
    }
}

@media(max-width:1400px){
    .md-sobre-n-qs{
        background-position: -430px 0px;

    }
}