.md-header-home{

    .collapse{
        margin-left: 80px;
    }

    .nav-link{
        margin: 10px 15px !important;
        color:$color__menulink!important;
        text-transform: uppercase;
        display: block;
        font-size: 17px;
        line-height: 1.29;    
        font-weight: 600;
        position: relative;
    
        &::after{
            content: '';
            position: absolute;
            top:-25px;
            left: 50%;
            height:6px;
            width:0%;
            background-color: $color__menulinkh;
            transition: ease-in-out 300ms;
        }
                
    }

    .nav-item{

        .menu-link{
            &:hover{
                color:$color__menulinkh!important;
    
                &::after{
                    content: '';
                    position: absolute;
                    top:-25px;
                    left: 0px;
                    height:6px;
                    width:100%;
                    background-color: $color__menulinkh;
                }
            }
        }

        .active-page{
            color:$color__menulinkh!important;

            &::after{
                content: '';
                position: absolute;
                top:-25px;
                left: 0px;
                height:6px;
                width:100%;
                background-color: $color__menulinkh;
            }
        }
    
        .md-icon{
            font-weight: 100;
            
            
            &::before{
                color:Silver;
                transition: ease-in-out 300ms;
            }
            
            &:hover{
                &::before{
                    color:rgba(0,0,0,0.51);
                    margin-left: 4px;                
                }
            }
        }
    }
    
    .md-box-bg{    
        position: relative;
        
        &:before{
            position: absolute;
            content:'';
            height: 590px;
            width: 136.7%;
            top:-100px;
            z-index: -1;
            background-color: #d2d4c1;
        }

        &::after{
            position: absolute;
            content: '';
            height: 480px;
            width: 1px;
            top: 10px;
            z-index: 1;
            left: 136.7%;
            background-color: #5f574d;
        }
    }

    .md-rs-slider{
        position: absolute;
        left:78%;
        margin-top: 270px;
        z-index: 1;
        
        a{
            display: block;
    
            padding: 5px;
            
            &::before{
                color:#fff;
                transition: ease-in-out 300ms;
            }
            
            &:hover{
                
                &::before{
                    opacity: .5;
                }
    
            }
        }
    }
    
    .md-innermenu{
        font-size: 16px;
        font-weight: 100;
        position: absolute;
        margin-top: 60px;    
        left:28.5%;
        z-index: 1;
        
        a{
            &::before{
                color:rgba(191,194,166,0.85);
                transition: ease-in-out 300ms;
            }
            
            &:hover{            
                
                &::before{
                    opacity: .5;
                }
    
            }
        }
    }

}



.md-header-inner{

    .collapse{
        margin-left: 80px;
    }

    .nav-link{
        margin: 10px 15px !important;
        color:$color__menulink!important;
        text-transform: uppercase;
        display: block;
        font-size: 17px;
        line-height: 1.29;    
        font-weight: 600;
        position: relative;
    
        &::after{
            content: '';
            position: absolute;
            top:-25px;
            left: 50%;
            height:6px;
            width:0%;
            background-color: $color__menulinkh;
            transition: ease-in-out 300ms;
        }
                
    }

    .nav-item{

        .menu-link{
            &:hover{
                color:$color__menulinkh!important;
    
                &::after{
                    content: '';
                    position: absolute;
                    top:-25px;
                    left: 0px;
                    height:6px;
                    width:100%;
                    background-color: $color__menulinkh;
                }
            }
        }

        .active-page{
            color:$color__menulinkh!important;

            &::after{
                content: '';
                position: absolute;
                top:-25px;
                left: 0px;
                height:6px;
                width:100%;
                background-color: $color__menulinkh;
            }
        }
    
        .md-icon{
            font-weight: 100;
            
            
            &::before{
                color:Silver;
                transition: ease-in-out 300ms;
            }
            
            &:hover{
                &::before{
                    color:rgba(0,0,0,0.51);
                    margin-left: 4px;                
                }
            }
        }
    }

    .md-breadcrumb{
        text-transform: uppercase;
        line-height: 3.5;
        font-size: 13px;
        color: #6a6a6a;
        
        a{
            color: #463f36;
            font-weight: 600;
            transition: ease-in-out 300ms;

            &:hover{
                color:$color__menulinkh;
            }
        }
        
        .md-icon{
            
            &::before{
                margin: 10px;
                font-size: 8px;
                vertical-align: text-bottom;
            }
        }
    }

    .md-title-page{
    
        .md-title{
            font-size: 40px;
            text-transform: uppercase;
            margin-left: 380px;
            padding: 70px 20px;
            width: 350px;
            color:#fff;
            background: url(../images/layout/bg-title.png) no-repeat bottom;
            background-size: 188px 15px;
            background-position: 0px 99px;
        }

        .md-cortinas-pt{
            min-width: 600px;    
            background-size:380px 15px;
        }

        .md-persianas-pt{
            min-width: 600px;    
            background-size:380px 15px;
        }
    }
    
    .md-box-bg{    
        position: relative;
        
        &:before{
            position: absolute;
            content:'';
            height: 190px;
            width: 136.7%;
            top:-100px;
            z-index: -1;
            background-color: #d2d4c1;
        }

        &::after{
            position: absolute;
            content: '';
            height: 200px;
            width: 1px;
            top: 0px;
            z-index: 1;
            left: 136.7%;
            background-color: #5f574d;
        }
    }

    .md-title-page{
        background-color: #463f36;
        height: 200px;
    }
    
    .md-innermenu{
        font-size: 16px;
        font-weight: 100;
        position: absolute;
        margin-top: 60px;    
        left:28.5%;
        z-index: 1;
        
        a{
            &::before{
                color:rgba(191,194,166,0.85);
                transition: ease-in-out 300ms;
            }
            
            &:hover{            
                
                &::before{
                    opacity: .5;
                }
    
            }
        }
    }

}

.md-searc-p{    
    display: none;
    padding: 40px;
    text-align: center;
    position: fixed;
    top:80px;
    left:50%;
    margin-left: -400px;
    width: 800px;
    
    input{
        height: 50px;
        border-radius: 50px 0px 0px 50px; 
        width: 500px;
        padding: 10px 20px;
    }
    
    .btn-search{
        height: 50px;
        width: 50px;
        margin-left: -30px;
        margin-top: -5px;
        border-radius: 0px 50px 50px 0px; 
        background-color:#ece9e9;
        
        &::before{
           color:#fff; 
        }        
    }
}

.md-menu-cortinas{
    display: none;
    position: fixed;
    padding: 120px 0;
    top:0px;
    left: 0px;
    width: 100%;
    background-color: rgba(255,255,255,0.94);
    z-index: 1;

    .md-title{
        font-weight: 600;
        position: absolute;
        color: #242321;
        font-size: 36px;
        text-transform: uppercase;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: left;
        color: #242321;
        margin: 20px 87px;
        padding: 40px 28px;
        background: url(../images/layout/bg-title.png) no-repeat bottom;
        background-size: 138px 15px;
        background-position: 0px 60px;
    }
    
    .md-icon{
        position: absolute;
        padding: 10px;
        right:140px;
        top:60px;
        z-index: 1;
        
        &::before{
            color:#5f574d;
        }
        
        &:hover{
            opacity: .6;
        }
    }
    
    .md-box-menu{
        padding:120px 0 80px 0;
        
        a{
            position: relative;
            display: block;
            padding: 20px 0;
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1.25;
            letter-spacing: normal;
            text-align: left;
            color: #5f574d;
            margin-left: 120px;
            transition: ease-in-out 300ms;

            &::before{
                position: absolute;
                content: '';
                height: 2px;
                width: 20px;
                background-color: #5f574d;;
                left: -30px;
                top:32px;
            }

            &:hover{
                opacity: .6;
                margin-left: 125px;

                &::before{
                    position: absolute;
                    content: '';
                    height: 2px;
                    width: 20px;
                    background-color: #5f574d;;
                    left: -30px;
                    top:32px;
                }   
            }
        }
    }
}

@media(max-width:1400px){
    .md-header-home{

        .md-box-bg{    
            position: relative;
            
            &:before{
                width: 109.6%;
            }
    
            &::after{
                left: 151.7%;
            }
        }

        .md-innermenu{
            left: 30%;
        }

        .md-rs-slider{
            left: 89.2%;
        }
    }

    .md-header-inner{

        .md-box-bg{    
            position: relative;
            
            &:before{
                width: 109.6%;
            }
    
            &::after{
                left: 151.7%;
            }
        }

        .md-innermenu{
            left: 30%;
        }

        .md-rs-slider{
            left: 89.2%;
        }
    }
}

@media(max-width:1366px){
    .md-header-home{

        .md-box-bg{    
    
            &::after{
                left: 153.5%;
            }
        }

    }
}