.solicitar-orcamento{    
    display: none;
    position: fixed;
    right:0px;
    top:0px;
    width: 850px;
    height: 100%;
    padding: 80px;
    
    .md-btn-voltar{
        position: absolute;
        top:47px;
        left:70px;
        font-size: 12px;
        transition: ease-in-out 300ms;
        
        a{
            padding: 10px;
                
            &::before{
                color:#fff;
                font-weight: 100;
            }
        }
        
        &:hover{
            left:80px;    
        }
    }
    
    .md-title{
        font-size: 22px;
        text-transform: uppercase;
        padding: 20px 0;
        line-height: 0.91;
        color: #463f36;
    }
    
    form{
        width: 480px;        
        
        .md-box-form{
            float: left;
            width: 100%;
            
            &:nth-child(3){
                width: 48%;
            }
            
            &:nth-child(4){
                float: right;
                width: 48%;
            }
            
        }
        
        label{
            color:#fff;
            text-transform: uppercase;
            margin: 15px 0 10px 0;
            letter-spacing: 1.6px;
        }
        
        input{
            background-color: transparent;
            border-bottom:1px solid $color__menulinkh;
            color:#000;
            height: 40px;
            width: 100%;
            padding: 10px;                  
            outline: none;
            
            
            &:focus{
                outline: none;
            }
        }
        
        select{
            background-color: transparent;
            color:#ffffff;
            height: 40px;
            width: 54%;
            margin: 5px 0;
            padding: 0px;
            text-align: right;
            float: right;
            outline: none;
            text-transform: uppercase;
            
            &:focus{
                outline: none;
            }
        }
        
        textarea{
            background-color: transparent;
            border-bottom:1px solid $color__menulinkh;
            color:#000;
            height: 110px;
            width: 100%;
            padding: 10px;
            outline: none;
            
            &:focus{
                outline: none;
            }
        }
        
        .btn-enviar{
            margin-right:100px;
            padding: 10px 0;
            display: block;
            float:right;
            width: 150px;
            border-bottom:0px solid;
            color:#fff;
            position: relative;
            letter-spacing: 1.6px;
            background-color: transparent;
            transition: ease-in-out 300ms;
            
            &::before{
                content:'';                
                position: absolute;
                right: -100px;
                top:22px;
                height: 3px;
                width: 82px;
                background-color: #fff;   
                transition: ease-in-out 300ms;
            }
            
            &:hover{
                margin-right:90px;
                
                &::before{
                    content:'';                
                    position: absolute;
                    right: -90px;
                    top:22px;
                    height: 3px;
                    width: 82px;
                    background-color: #fff;                
                }
            }
            
        }
        
    }
    
    
    &::before{
        content:'';
        position: fixed;
        top:0px;
        right:0px;
        height: 100%;
        background-color: #bfc2a6;
        width: 850px;
        z-index: -1;
    }
    
    .md-imformacoes{
        padding: 50px 0px;
        width: 480px;
        float: left;                
        color:#fff;
        text-align: right;
        font-size: 18px;
        
        .md-text{
            line-height: 1.6;
            text-transform: uppercase;
            
            strong{
                display: block;
            }
        }
        
        .md-tels{
            line-height: 1.6;
        }
        
        .md-whatsapp{
            font-weight: 600;
            color: #463f36;

            
            a{
                color: #463f36;
            }
        }
    }
}

.md-blur{
    filter: blur(4px);
}

.md-boxshadow{
    display: none;
    position: fixed;
    top:0px;
    left:0px;
    height: 100%;
    width: 100%;
    background-color:rgba(255,255,255,0.7);
}