body{
    background-color:#fff;
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

.md-clear{
    padding: 0px;
}

@media (min-width: 1200px){
    .container {
        max-width: 1280px;
    }
}

.md-slider-home {
    margin:10px 0;

    .md-inner{
        height: 600px;
        overflow: hidden;
    }

    .md-title-slid{
        width: 520px;
        color:#fff;
        text-transform: uppercase;
        font-size: 44px;    
        margin: 200px 0px 0px 180px;
        background: url(../images/layout/bg-title.png) no-repeat bottom;
        background-size: 62% 15px;
        background-position: 0px 30px;
        padding-left: 15px;
    }
    
    .md-text-slid{
        color:#fff;    
        font-size: 18px;
        width: 500px;
        margin: 20px 0px 0px 200px;
    }
    
    .md-content-btn{
        margin: 20px 0px 0px 210px;
        width: 500px;
        
        a{
            margin: 0px 0px 0px 10px;
            font-size: 18px;
            color:#fff;    
            
            &:focus{

                &:hover{
                    outline: none;
                }
            }
        }
        
        .btn-marrom{        
            width: 188px;

        }
        
        .btn-verde{
            width: 255px;

        }
    }

    .md-icon-next{
        position: absolute;
        margin-top: -122px;
        background-color:#242321;
        color:#fff;
        transition: ease-in-out 300ms;
    
        .icon-arrow-right-a{

            &::before{
                color:#fff;
                margin: 52px 64px;
                display: block;
                transition: ease-in-out 300ms;
            }
        }
    
        &:hover{
            opacity: .8;
            
            .icon-arrow-right-a{
    
                &::before{
                    color:#fff;
                    margin: 52px 58px 52px 70px;
                }
            }
    
        }
    
    }
    
    
    .md-icon-prev{
        position: absolute;
        margin-left: -138px;
        margin-top: 480px;
        background-color:#dbdbdb;
        color:#fff;
        cursor: pointer;
        transition: ease-in-out 300ms;
        
        .icon-arrow-right-a{

    
            &::before{
                color:#fff;
                margin: 52px 64px;
                display: block;
                transform: rotate(180deg);
                transition: ease-in-out 300ms;
            }
        }
    
        &:hover{
            background-color:#a29e9e;
            
            .icon-arrow-right-a{
    
                &::before{
                    color:#fff;
                    margin: 52px 70px 52px 58px;
                }
            }
    
        }
    }
}


// Slider COrtinas

.md-cortinas-home{
    padding: 60px 0;  
}

.md-box-d-cortinas{
    float: right;
    width: 380px;
    padding: 60px 0;
    position: relative;

    &::before{
        content: 'cortinas de qualidade';
        position: absolute;
        transform: rotate(270deg);
        left: -160px;
        top:92px;
        font-size: 20px;
        line-height: 2.1;
        letter-spacing: 2px;
        color: #dbdbdb;
    }

    .md-title{
        font-size: 34px;
        line-height: 1.06;
        color: #242321;        
        background: url(../images/layout/bg-title.png) no-repeat bottom;
        background-size: 270px 15px;
        background-position: 0px 50px;
        padding: 0 19px;

        strong{
            
            font-size: 36px;
            font-weight: bold;
            line-height: 1;
            color: #242321;            
        }
    }    

    a{
        margin-top: 30px;
        display: block;
        text-decoration: underline;
        margin-left: 130px;
        font-size: 16px;
        font-weight: 600;
        line-height: 2.25;
        color: #463f36;
        transition: ease-in-out 300ms;

        &:hover{
            opacity: .6;
        }
    }
}

.md-bullets{
    position: relative;
    width: 100%;
    z-index: 1;
    
    .md-link-bullets{
        position: absolute;        
        left:60%;
        top:-172px;
       
        figure{
            position: relative;
            background-color:silver;
            margin:0px;
            padding: 20px;
            height: 160px;
            width: 220px;
            transition: ease-in-out 300ms;
            
            &::before{
                content:'';
                position: absolute;
                width: 0%;
                left:95px;
                top:80px;
                height: 0%;
                background-color: rgba(0, 0, 0, 0.45);
                transition: ease-in-out 800ms;
            }
            
            &:after{
                content: '\e905';
                font-family: 'icomoon' !important;
                position: absolute;
                left: 95px;
                top: 70px;
                font-size: 26px;
                color:transparent;
                transition: ease-in-out 800ms;
            }
            
            &:hover{
                
                &::before{
                    content:'';
                    position: absolute;
                    width: 100%;
                    left:0px;
                    top:0px;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.45);
                }

                &:after{
                    display: block;
                    content: '\e905';
                    font-family: 'icomoon' !important;
                    position: absolute;
                    left: 95px;
                    top: 70px;
                    font-size: 26px;
                    color:#fff;
                }   
                
            }
        }
        
        &:nth-child(2){
            margin-left: 220px;
        }
    }
}

.md-slide-curtinas{  
    text-align: right;
    
    .slick-slide{
        width: 299px!important;
        margin-right: 20px;
        
        
        &:nth-child(4){
            opacity: .1;
            transition: ease-in-out 300ms;
        }
        
        .md-produto-c{
            position: relative;      
            
            &::before{
                content:'';
                position: absolute;
                left: 150px;
                top: 130px;
                background:linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
                height: 0%;
                width: 0%;
                transition: ease-in-out 800ms;
            }

            &::after{
                content:'\e905';
                font-family: 'icomoon' !important;
                position: absolute;
                left: 136px;
                top: 117px;
                font-size: 26px;
                color:transparent;
                transition: ease-in-out 800ms;
            }
        }
        
        .md-title-produto-c{
            padding: 10px;
            font-size: 16px;
            letter-spacing: 1.6px;
            color: #463f36;
            transition: ease-in-out 300ms;

            .md-icon{
                font-size: 8px;
                padding: 12px;
                
                &::before{
                    color: #463f36;
                }
            }    
        }
        
        &:hover{
            
            
            .md-produto-c{
                
                
                &::before{
                    content:'';
                    position: absolute;
                    left:0px;
                    top:0px;
                    background:linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
                    height: 100%;
                    width: 100%;
                    display: block;
                }

                &::after{
                    content:'\e905';
                    font-family: 'icomoon' !important;
                    position: absolute;
                    left: 136px;
                    top: 117px;
                    font-size: 26px;
                    color:#fff;
                    display: block;
                }
            }
            
            .md-title-produto-c{
                 padding: 10px 2px;
            }
        }
    }        
    
    .slick-active:nth-child(4){
        opacity: 1;
    }
    

}


// quem somos home

.md-sobre-n-home{
    background: url(../images/layout/sobre-nos-home.jpg) no-repeat;
    padding: 10px 0px 126px 0px;
    

    .md-box-qs-home{
        position: relative;
        padding: 40px 0;

        &::before{
            content: attr(atr-sobre);
            position: absolute;
            transform: rotate(270deg);
            left: -110px;
            top:70px;
            font-size: 20px;
            line-height: 2.1;
            letter-spacing: 2px;
            color: #dbdbdb;
        }
    }
    

    .md-title{
        
        font-size: 34px;
        line-height: 1.06;
        color: #242321;        
        background: url(../images/layout/bg-title.png) no-repeat bottom;
        background-size: 260px 15px;
        background-position: 0px 50px;
        padding: 0 19px;
    
        strong{
            display: block;
            font-size: 36px;
            font-weight: bold;
            line-height: 1;
            color: #242321;            
        }
    }

    .md-text{
        padding: 40px 50px 0px 40px;
        font-size: 18px;
        line-height: 1.78;
        color: #6a6a6a;
    }

    .md-link-saiba{
        float: right;
        margin-top: 4px;
        margin-right: 70px;
        padding: 10px;
        font-size: 16px;
        font-weight: 600;
        color: #463f36;
        transition: ease-in-out 300ms;

        .md-icon{
            font-size: 8px;
            padding: 12px;
            
            &::before{
                color: #463f36;
            }            
        }  

        &:hover{
            padding: 10px 2px;
        }
    }
}

.md-persianas-home{
    padding: 50px 0;

    background: url(../images/layout/bg-persiana.png) no-repeat bottom right;

    .md-box-d-persianas{
        position: relative;
        padding: 134px 0px 0px 42px;

        &::before{
            content: 'persianas de qualidade';
            position: absolute;
            transform: rotate(270deg);
            left: -125px;
            top: 209px;
            font-size: 20px;
            line-height: 2.1;
            letter-spacing: 2px;
            color: #dbdbdb;
        }
    }

    .md-title{
        width:370px;
        font-size: 34px;
        line-height: 1.06;
        color: #242321;        
        background: url(../images/layout/bg-title.png) no-repeat bottom;
        background-size: 260px 15px;
        background-position: 0px 50px;
        padding: 0 19px;
        
    
        strong{
            text-transform: uppercase;
            font-size: 36px;
            font-weight: bold;
            line-height: 1;
            color: #242321;            
        }
    }

    .md-text{
        margin-left: 20px;
        padding: 39px 0;
        width:320px;
        font-size: 18px;
        line-height: 1.78;
        color: #6a6a6a;
    }

    .md-box-p{
        position: relative;
        float:left;        
        margin: 26px 0px 0px 50px;
        text-align: right;
                  
        .md-produto-p{
            position: relative;  

            &::before{
                content:'';
                position: absolute;
                left: 160px;
                top: 140px;
                background:linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
                height: 0%;
                width: 0%;
                transition: ease-in-out 800ms;
            }
    
            &::after{
                content:'\e905';
                font-family: 'icomoon' !important;
                position: absolute;
                left: 144px;
                top: 129px;
                font-size: 26px;
                color:transparent;
                transition: ease-in-out 800ms;
            }
        }
            
        .md-title-produto-p{
            padding: 20px 12px 8px 0px;
            font-size: 16px;
            letter-spacing: 1.6px;
            color: #fff;
            transition: ease-in-out 300ms;

            .md-icon{
                font-size: 8px;
                padding: 12px;
                
                &::before{
                    color: #fff;
                }
            }    
        }

        &:hover{
            .md-produto-p{

                &::before{
                    content:'';
                    position: absolute;
                    left:0px;
                    top:0px;
                    background:linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
                    height: 100%;
                    width: 100%;
                    display: block;
                }

                &::after{
                    content:'\e905';
                    font-family: 'icomoon' !important;
                    position: absolute;
                    left: 144px;
                    top: 129px;
                    font-size: 26px;
                    color:#fff;
                    display: block;
                }
            }

            .md-title-produto-p{
                padding: 20px 4px 8px 0px;
           }
        }
    }    
}

.md-comentarios{
    padding: 50px 0;

    .md-title-coment{
        text-align: center;
        padding: 7px 0;
        padding-bottom: 90px;
        font-size: 36px;
        line-height: 1;
        text-align: center;
        color: #463f36;

        strong{
            display: block;    
            background: url(../images/layout/bg-title.png) no-repeat bottom;
            background-size: 310px 15px;
            background-position: 47% 20px;       
        }
    }

    .md-box-coment{
        position: relative;

        img{
            float:left;
            margin-right: 30px;
            margin-top: 50px;
        }

        .md-nome-coment{
            font-size: 16px;
            font-weight: 600;
            line-height: 1.25;
            color: #463f36;

            &::before{
                content: '';
                position: absolute;
                background: url(../images/layout/icone-citacao.png) no-repeat;
                height: 30px;
                width: 30px;
                top: 35px;
                left: 75px;
            }
        }

        .md-text-coment{
            margin-top: 20px;
            font-size: 14px;
            line-height: 1.5;
            color: #463f36;
        }
    }
}







@media(max-width:1400px){
    
    .md-slide-curtinas{
        
        .slick-slide{
            width: 245px !important;
            
            .md-produto-c{
                
                &::before{
                    left: 125px;
                    top: 110px;
                }
                
                &::after{
                    left: 110px;
                    top: 100px;
                }
            }
            
            &:hover{
                
                .md-produto-c{

                    &::after{
                        left: 110px;
                        top: 100px;
                    }
                }
            }
            
        }
    }
    
    .md-sobre-n-home{
        
        .md-spaco-left{
            min-width: 50%;
        }
        
        .md-box-qs-home{
            margin-left: 20px;
        }
    }
           
    .md-persianas-home{
        background-position: 620px 300px;
    }
}


@media(max-width:1366px){
    
    .md-slide-curtinas{
        
        .slick-slide{
            width: 236px !important;
            
            .md-produto-c{
                
                &::before{
                    left: 118px;
                    top: 110px;
                }
                
                &::after{
                    left: 105px;
                    top: 100px;
                }
            }
            
            &:hover{
                
                .md-produto-c{

                    &::after{
                        left: 105px;
                        top: 100px;
                    }
                }
            }
            
        }
    }
    
    .md-persianas-home{
        background-position: 610px 300px;
        
        .md-box-d-persianas{
            padding: 134px 0px 0px 25px;
        }
    }
}

