.btn-verde{
    background-color:rgba(167, 255, 0, 0.3);
    color:#fff;
    padding:12px 0;
    border-radius: 10px;
    transition: ease 300ms;

    &:hover{
        background-color:rgba(167, 255, 0, 0.4);
        transition: ease 300ms;
    }
}

.btn-marrom{
    background-color:rgba(95, 87, 77, 0.65);
    color:#fff;
    padding:12px 0;
    border-radius: 10px;
    transition: ease 300ms;

    &:hover{
        background-color:rgba(95, 87, 77, .80);
        transition: ease 300ms;
    }
}